/* classes to extend */
.button, .btn, .container .details button {
  padding: 10px 20px;
  border: 0;
  background: yellow;
  font-weight: bold;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #e8e8e8;
}

/* ---- start Header ---*/
.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/h3.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  position: relative;
}

.nav-bar {
  display: flex;
  padding: 20px 120px;
}

.nav-logo img {
  width: 60px;
}

.nav-links {
  flex: 1;
}

.nav-links ul {
  margin-left: 50px;
  display: inline;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 22px 25px;
}

.nav-links ul a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: yellow;
  display: block;
  margin: auto;
  transform: .5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.btn {
  margin-top: 10px;
}

.nav-links .btn {
  float: right;
}

.banner-title {
  margin: 80px 130px;
  color: white;
}

.banner-title h2 {
  font-size: 64px;
  margin-bottom: 30px;
}

.vertical-bar {
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: black;
}

.search-icon {
  height: 60%;
  width: 80px;
}

.search-icon .fa {
  margin: 45px 23px;
  display: block;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.social-icons {
  height: 35%;
  width: 80px;
  background: yellow;
  text-align: center;
  padding-top: 27%;
  bottom: 0;
  position: absolute;
}

.social-icons .fa {
  margin: 15px 23px;
  display: block;
  padding: 8px;
  border: 1px solid black;
  border-radius: 50%;
}

.nav-bar .fa {
  display: none;
}

/* ---- media Header ---*/
@media (max-width: 700px) {
  .vertical-bar {
    color: black;
  }
  .banner-title {
    margin: 120px 100px;
  }
  .banner-title h2 {
    font-size: 35px;
  }
  .nav-links ul li {
    padding: 8px 25px;
  }
  .fa-bars {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .nav-bar .fa {
    display: block;
    color: white;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links {
    height: 100vh;
    width: 200px;
    background: black;
    top: 0;
    right: -200px;
    position: absolute;
    text-align: left;
    z-index: 2;
  }
  .nav-links ul a {
    display: block;
  }
  .nav-links .btn {
    float: none;
    margin-left: 25px;
  }
}

/* ---- AND Header ---*/
/* ---- start images slide ---*/
.slideshow-container {
  position: relative;
  margin: auto;
}

.slides {
  display: none;
  z-index: 99;
}

.slides img {
  margin-left: 156px;
  margin-top: 6%;
}

.number {
  position: absolute;
  padding: 8px 12px;
  color: white;
}

.prev, .next {
  background-color: white;
  position: absolute;
  top: 58%;
  color: black;
  font-weight: bold;
  padding: 10px 10px;
  font-size: 18px;
  z-index: 12;
  right: 92%;
  cursor: pointer;
}

.next {
  right: 72px;
  color: black;
}

.prev:hover, .next:hover {
  background-color: black;
  color: white;
}

@media (max-width: 700px) {
  .prev, .next {
    margin: 0px -31px;
  }
  .slides img {
    margin-left: 61px;
  }
}

/*  --- End images slide */
.titre {
  margin-top: 95px;
  margin-bottom: 40px;
}

.titre1 h3 {
  position: absolute;
  margin-top: 6px;
  margin-left: 67px;
}

.titre1 {
  transform: skewX(-25deg);
  margin-top: 20px;
  margin-left: 173px;
  height: 59px;
  font-family: fira sans extra condensed,sans-serif;
  font-size: 30px;
  color: white;
  background-color: black;
  width: 28%;
  text-transform: uppercase;
}

.titre2 {
  position: absolute;
  margin-left: 489px;
  width: 49%;
  height: 9px;
  background-color: black;
}

@media (max-width: 900px) {
  .titre1 {
    margin-left: 67px;
    width: 34%;
    height: 43px;
    font-size: 21px;
  }
  .titre1 h3 {
    margin-left: 17px;
  }
  .titre2 {
    margin-left: 187px;
  }
}

/* ---- start prt product ---*/
.container {
  background-color: black;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  height: 400px;
  background: white;
  margin: 20px;
  margin-left: 156px;
}

.container .imgBx img {
  position: relative;
  top: 0px;
  left: 0px;
  width: 463px;
  height: 390px;
}

.container .imgBx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background: yellow;
}

.container .details {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
}

.container .details h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 3.8em;
  color: white;
  margin-top: -80px;
}

.container .details p {
  max-width: 85%;
  margin-left: 10%;
  color: white;
  font-size: 15px;
  margin-bottom: 43px;
}

.container .details h3 {
  margin: 0px 12px;
  padding: 0;
  font-size: 2.5em;
  float: left;
  color: #a2a2a2;
}

.container .details button {
  margin-top: 5px;
  margin: 10px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  overflow: visible;
}

/* ---- media products ---*/
@media (max-width: 900px) {
  .container {
    margin-left: 57px;
    height: auto;
  }
  .container .imgBx {
    padding: 6px;
    box-sizing: border-box;
    width: 100% !important;
    height: auto;
    text-align: center;
    overflow: hidden;
  }
  .container .imgBx img {
    left: initial;
    max-width: 100%;
    transform: rotate(0deg);
  }
  .container .details {
    width: 100% !important;
    height: auto;
    padding: 15px;
  }
  .container .details p {
    max-width: 100%;
    margin-left: 26px;
    margin-top: -36px;
  }
  .container .details h2 {
    max-width: 100%;
    font-size: 25px;
    margin-left: 26px;
    margin-top: -19px;
    margin-bottom: 35px;
  }
}

/* ---- start prt product ---*/
/* ------------Start Footer------------ */
.section7 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.section7 h1 {
  color: #688095;
  font-size: 24px;
  margin-bottom: 30px;
}

.ft {
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 80px;
}

.ft1con {
  display: flex;
  width: 400px;
  vertical-align: middle;
  margin: auto;
}

.ft1con input {
  height: 39px;
  width: 200px;
  text-align: center;
}

.ft1con button {
  background: #C49D48;
  border: none;
  height: 43px;
  width: 67px;
  color: #fff;
  font-weight: bolder;
  text-align: center;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-bottom: 60px;
}

.footer p {
  font-size: 13px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.f1 {
  flex-basis: 33.33%;
  text-align: left;
  margin-left: -67px;
}

.f2 {
  flex-basis: 33.33%;
  margin-left: 80px;
}

.f3 {
  flex-basis: 33.33%;
  margin-left: -80px;
  text-align: left;
}

.f3 p {
  color: #616161;
  margin-bottom: 15px;
}

.f3 h3 {
  font-family: Arial;
  font-size: 15px;
}

.footer h2 {
  margin-bottom: 30px;
  color: #C49D48;
  font-family: Arial;
  font-size: 20px;
}

.f2 ul {
  list-style: none;
  text-align: left;
}

.f2 ul a {
  text-decoration: none;
  color: #616161;
}

.f2 ul li a:hover {
  color: #EFD6AC;
}

.footer i {
  margin: 2% 5%;
  font-size: 10px;
}

.lastft {
  background: #C49D48;
  width: 100%;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  color: black;
}

.lastul ul li {
  float: left;
  list-style: none;
  margin: 0% 3%;
  margin-top: 7px;
  font-family: Arial;
}

.lastspan {
  flex-basis: 30%;
  margin-left: 10%;
  margin: 0 10%;
  font-family: Arial;
  margin-top: 7px;
}

.lastul {
  flex-basis: 50%;
}

.lastfooter {
  flex-basis: 100%;
  color: #fff;
  width: 100%;
}

@media (max-width: 900px) {
  .f1 {
    flex-basis: 100%;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 30px;
  }
  .f2 {
    flex-basis: 100%;
    margin-bottom: 20px;
    margin-left: -42%;
  }
  .f2 ul {
    margin-left: 50%;
  }
  .f3 {
    flex-basis: 100%;
    margin-bottom: 20px;
    margin-left: 40px;
  }
  .lastft {
    height: 10vh;
  }
}

/* ------------End Footer------------ */
